@import'../variables.scss';


footer {
    background-color: $main-color;





    input {
        display: inline-block;
        box-sizing: border-box;
        outline: none;
        line-height: normal;
    }


    input[type="text"] {
        border: 1px solid $second-color;
        background: $main-color;
        padding: 0 20px;
        height: 53px;
        width: 220px;
        color: $link-color;
        font-size: 14px;
        margin-top: 10px;

        &:focus {
            background: #fff;
            color: $h1-color;
        }


        &::-webkit-input-placeholder {
            color: #c6c8fd;
        }


        &:focus::-webkit-input-placeholder {
            color: $second-color;
        }
    }


    h3 {
        padding: 183px 0 18px 0;
        color: $link-color;
    }

    p {
        color: #c6c8fd;
        font-size: 16px;
        padding-bottom: 183px;
    }

    .devider {
        position: absolute;
        width: 2px;
        height: 106px;
        top: 185px;
        right: 50%;
        margin-right: 67px;
        border-left: 1px solid $second-color;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 300;
        background-image: none;
        border: none;
        padding: 17px 47px;
        white-space: nowrap;
        border-radius: 1px;
        font-size: 15px;
    }


    .btn-primary {
        color: $link-color;
        background-color: $second-color;
        margin-bottom: 2px;
    }

    .btn-primary:hover {
        color: $link-color;
        background-color: $hover-color;
        //box-shadow: inset 0px 0px 0px 2px $second-color;
    }

    .btn:focus, .btn:active:focus, .btn.active:focus {
    background-color:$hover-color;
}

    .btn-primary:focus {
        color: $link-color;
        background-color: $main-color;
        //box-shadow: inset 0px 0px 0px 2px $second-color;
    }

}
